<footer>
    <div>
      <h2>Popular</h2>
      <ul class="footerul">
        <li><a class="active" href="/glossary">Glossary</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    <div>
      <h2>Follow Us</h2>
      <ul class="footerulsocial">
        <li>
          <a href="https://tenor.com/view/dog-doggo-cute-adorable-laptop-gif-17687871">
            <i class="fa-brands fa-square-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://media.giphy.com/media/18trqWNZnu33q/giphy.gif">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://giphy.com/clips/viralhog-W2j553r7gPinUhOrvJ">
            <i class="fa-brands fa-square-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footerlogo">
      <img
        class="logo"
        src="/images/4A843D63-4428-4FE1-BB13-D4D48155F3E1.png"
        alt="YogaMatch Logo."
      />
    </div>
  </footer>
</body>
</html>
