<%- include('../partials/head') -%> <%- include('../partials/navbar') -%>

<div class="container">
  <h1>Hello and Welcome to YogaMatch!</h1>
  <p>
    I'm Sara, and I created YogaMatch to make yoga more accessible to all. With
    YogaMatch, you can get a personalized flow for Free, and right to your
    inbox! Just complete the questionaire to be matched with the yoga flow for
    you.
  </p>
  <p>
    Yoga is a connecting practice of mind, body, and spirit. Your practice is
    very specific to who you are, what is accessible for your body, and what
    you're looking to get out of your practice. This may change over time. The
    YogaMatch Quiz is designed to be taken again! Save your favorite flows.
    Please note, I am just a guide for these practices. Please set your own
    intention, and stay present. Don't hesitate to take any additional
    modifications your body needs. Enjoy your Flow!
  </p>
  <h1>Sara Gunda</h1>
  <p>Sara Gunda</p>
  <p>RYT 200 Boston, MA 2022</p>
  <p>Yoga Instructor at I&I Rose Garden</p>
  <p>22 Birch Street</p>
  <p>Roslindale, MA 02131</p>
</div>

<%- include('../partials/footer') -%>
