<%- include('../partials/head') -%> <%- include('../partials/accountnav') -%>
<div class="container">
  <h1>Account Settings</h1>

  <!-- change password -->
  <!-- change name
  change profile image
  Submit or Cancel, redirect to account button --> 

</div>
<%- include('../partials/footer') -%>
