<%- include('../partials/head') -%> <%- include('../partials/navbar') -%> 
    <div class="profile">
      <div class profSideBar>
        <div style="text-align: center;">
          <i class="fa-solid fa-user fa-5x"></i>
          <h2 style="margin-top: 0.25em;">Profile Image</h2>  
        </div>
        <h1>Welcome back, <%- data[1].firstName -%> !</h1>
        <ul class="profSideLinks">
          <li><a href="/accountsettings">Account Settings</a></li>
          <li><a href="/saved">Saved</a></li>
        </ul>
      </div>
      <div class profMain>
        <h1>Recents</h1>
        <p>Your Personalized Flow #1</p>
        <p>
          <img class="placeHolder" src="/public/images/44960034.jpg" alt="This is a placeholder for the yoga videos that will be paired to you based on your quiz result."/>
          <p></p>
        </p>
      </div>
    </div>
    <%-include('../partials/footer') -%>