<%- include('../partials/head') -%> <%- include('../partials/navbar') -%>
    <div class="indexImage">
      <img
        class="topIndexDis"
        src="/images/44960032.jpg"
        alt="Sara is getting into side crow pose with one leg off the ground"
      />
      <img
        class="topIndexDis"
        src="/images/44960033.jpg"
        alt="Sara in side crow pose"
      />
      <img
        class="topIndexDis"
        src="/images/44960034.jpg"
        alt="Sara beginning to extend her leg out in side crow pose"
      />
      <img
        class="topIndex"
        src="/images/44960035.jpg"
        alt="Sara in extended side crow pose"
      />
    </div>
    <div class="welcomeContainer">
      <h1>Welcome to Yoga Match</h1>
      <p>Here to find a customized routine just for you!</p>
    </div>
    <div class="dividedContainer">
      <div class="LSideImage">
        <img
          class="sideImage"
          src="/images/44960036.jpg"
          alt="Nick on yoga mat in crow pose"
        />
      </div>
      <div class="RSideText">
        <h1>Let's Get Started!</h1>
        <a href="/login">Sign in to take the Quiz and get Matched!</a>
      </div>
    </div>
    <div class="dividedContainer">
      <div class="RSideText">
        <p>Learn more about common yoga words and phrases.</p>
        <a class="active" href="/glossary">Visit our Glossary!</a>
      </div>
      <div class="LSideImage">
        <img
          class="sideImage"
          src="/images/shutterstock_179060504-845x563.jpeg"
        />
      </div>
    </div>
    <div class="container">
      <h1>About YogaMatch</h1>
      <p>
        I'm here to help you find the flow that's right for Your body. Yoga is
        meditation and should be an expression of you. YogaMatch will not only
        help you find information and tips for your practice, but also pair you
        with a custom yoga practice that you can do right from home!
        <a href="/about">Find out more about YogaMatch.</a>
      </p>
    </div>
  
  <%- include('../partials/footer') -%>