<%- include('../partials/head') -%> <%- include('../partials/accountnav') -%>

<div class="formContainer">
      <form method="POST" action="/quiz/results/number">
        <h1>Find Your Flow</h1>
        <div class="form-group">
          <label for="name"
            >Your Name <span class="form-group-required">*</span></label
          >
          <input
            type="name"
            name="name"
            id="name"
            placeholder="Your Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="age"
            >What is your age? <span class="form-group-required">*</span></label
          >
          <br>
          <input type="radio" name="age" value="0">18-24<br>
          <input type="radio" name="age" value="0">25-34<br>
          <input type="radio" name="age" value="0">35-44<br>
          <input type="radio" name="age" value="2">45-54<br>
          <input type="radio" name="age" value="2">55-64<br>
          <input type="radio" name="age" value="2">65 and over<br>
        </div>
        <div class="form-group">
          <label for="activityLevel"
            >What is your activity level? <span class="form-group-required">*</span></label
          >
          <br>
          <input type="radio" name="activityLevel" value="2">Low = 0-1 hour per week.<br>
          <input type="radio" name="activityLevel" value="1">Medium = 2-4 hours per week.<br>
          <input type="radio" name="activityLevel" value="0">High = 5+ hours per week.
        </div>
        <div class="form-group">
          <label for="injury" >Do you have any injuries?  Select all that apply.<br>
          <input type="checkbox" name="injury" value="0"> No injuries.<br>
          <input type="checkbox" name="injury" value="0"> Prefer not to say.<br>
          <input type="checkbox" name="injury" value="2"> Knee<br>
          <input type="checkbox" name="injury" value="2"> Back/Neck<br>
          <input type="checkbox" name="injury" value="2"> Wrist<br>
          <input type="checkbox" name="injury" value="2"> Other<br>
        </div>
        <div class="form-group">
          <label for="goal" >What would you like to get out of your flow?  Select all that apply.<br>
          <input type="checkbox" name="goal" value="2"> Relaxation and restoration.<br>
          <input type="checkbox" name="goal" value="0"> A workout.<br>
          <input type="checkbox" name="goal" value="1"> Improved flexibility.<br>
          <input type="checkbox" name="goal" value="1"> Improved balance.<br>
        </div>
        <div class="form-group">
          <label for="frequency"
            >How often do you practice yoga? <span class="form-group-required">*</span></label
          >
          <br>
          <input type="radio" name="frequency" value="2">Once per month.<br>
          <input type="radio" name="frequency" value="1">Once every other week<br>
          <input type="radio" name="frequency" value="1">Once per week.<br>
          <input type="radio" name="frequency" value="0">Two or three times per week.<br>
          <input type="radio" name="frequency" value="0">Daily.
        </div>
        <button type="submit">Submit</button>
<!-- redirect to profile -->
      </form>
    </div>
    <%-
    include('../partials/footer') -%>


    <!-- require login -->

    <!-- login-> get user id , quiz
      add total value of quiz, populate based on this -->
    <!-- store value in variable, add together 
    user data edit form - update one field of score--> 
