<%- include('../partials/head') -%> <%- include('../partials/accountnav') -%>

<!-- gentle flow -->
<!-- add option to save -->

<!-- awaiting playlist finalization, below is placeholder example -->

<h1>Your Results</h1>
<% if (score === 0) { %>
<div class= "player"><iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/gk9gomwreZY"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay;
  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe
></div><% } else if (score > 0 && score < 5){ %>
  <div class= "player"><iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/gk9gomwreZY"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay;
  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe></div> <% } else { %> 
  <div class= "player"><iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/gk9gomwreZY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe></div>
  <% } %>

<%- include('../partials/footer') -%>
