:root {
    --teal: #a0c3bd;
    --grey: #666666;
    --medium-grey: #CCCCCC;
    --light-grey: #F9F9F9;
    --white: #ffffff;
    --light-purple: #ba8fce;
    --dark-purple: #84589c;
}


/* 1. get background and foot to stay at bottom--> container on all pages */
/* 2. get rid of small border around page  */
/* 3. proper size for background img  */
/* 4. index page and glossary!!! finish up content!!!!
5. keep image place holder, but apply links
6. js - hamburger menu and back to top screen
/* 7. insert logo */

body {
    background-color: var(--teal);
    color: var(--grey);
    background-image: url(/Images/backgrounds/pexels-ovan-62693.jpg);
    background-size: 100%;
    font-family:'Tajawal';
    line-height: 25px;
    font-size: 1.1rem;
    border: none;
    margin: 0px;
    padding-bottom: 2.5rem;
}

.welcomeContainer,
.container{
    max-width: 500px;
    width: 100%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 5% 5% 5% 5%;
    background-color: var(--light-grey);
    opacity: 0.9;
    position: relative;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

.welcomeContainer{
    align-items: center;
}

.dividedContainer{
    max-width: 500px;
    width: 100%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    padding: 2em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 5% 5% 5% 5%;
    background-color: var(--light-grey);
    opacity: 0.9;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .dividedContainer {
        width: 80%;
        flex-direction: column;
    }
}

a:link {
    color: var(--white);
    text-decoration: none; 
}

a:visited {
    color: var(--medium-grey);
}

a:hover {
    color:var(--teal);
}

a:active {
    color:var(--medium-grey);
}

/* loginpage */
.loginContainer{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding: 10% 5% 5% 5%;
    background-color: none;
}

form {
    background-color: var(--light-grey);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 2% 5% 5% 5%;
    margin: 5% 0;
    border-radius: 8px;
    /* max-width: 500px; */
}

label {
    font-size: .8rem;
    text-transform: uppercase;
}


h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 3%;
    text-align: center;
    font-family: "permanent marker";
}


h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 3%;
    text-align: center;
    font-family: "Tajawal"; 
}

.form-group {
    margin: 0 0 2% 0;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.form-group-required {
    color: var(--dark-purple);
}

button[type="submit"] {
    background-color: var(--light-purple);
    color: var(--white);
    width: 100%;
    border: none;
    margin: 0 0 2% 0;
    padding: 2%;
    font-size: 1rem;
}

button[type="submit"]:hover {
    background-color: var(--dark-purple);
}

button[type="submit"]:active {
    outline: none;
}

input:focus,
textarea:focus {
    border: 1px solid var(--grey);
    outline: none;
}

/* top nav */
.topnav {
    background-color: var(--light-purple);
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.headerul {
	list-style-type: none;
	display: flex;
    justify-content: space-around;
	text-transform: uppercase;
    padding-left: 0;
    width: 40%;
    font-family: 'Tajawal';
}

/* footer  */
footer {
    background-color: var(--light-purple);
    color: var(--white);
    border-top: 5px solid var(--grey);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Tajawal';
    bottom: 0;
    width: 100%;  
}

.footerul,
.profSideLinks {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Tajawal';
    text-transform: uppercase;
}

.footerulsocial {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

/* profile page  */
.placeHolder {
    max-width: 500px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	text-transform: uppercase;
    font-family: 'Tajawal';
    padding: 4%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 3%;
    }
}

/* bio - about page  */

/* index */
.maintext {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 5%;
    background-color: var(--light-grey);
    opacity: 0.9;
    position: relative;
}

.LSideImage{
    width: 50%;
}

.sideImage{
    width: 100%;
}

.indexImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topIndexDis,
.topIndex{
    width: 25%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .indexImage {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 5%;
    }
    .topIndex{
        width: 80%;
    }
    .topIndexDis{
        display: none;
    }
}

